.title {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}

.cell {
	flex: 0 0 100%;
  display: block;
	position: relative;
  transition: background-color 0.3s ease;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 1.5em;
  height: 450px;
  width: 290px;
  padding: 20px;
  text-align: center;
  opacity:.8;
  color: black;

  box-shadow: 0 4px 2px rgba(0,0,0,0.175);
}

.addButton {
  border: 1px solid black;
  color: black;
  background-color: white;
  height: 40px;
  width: 75%;
  margin: 0 auto;
  padding: 0 20px;

  transition: 0.3s ease-in;
  text-transform: uppercase;

  text-decoration: bold;
  font-size: .9em;
}

.addButton:hover,
.addButton:focus {
	opacity: .8;
	background-color: black;
  color: white;
}

.image {
  display: block;
  /*max-width:124px;*/
  /*width: auto;*/
  height: 250px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;

}

.description {
  font-size: .9em;
  height: 35px;
}

/* Tablet (medium) screens */
@media (min-width: 40em) {
  .cell {
    flex: 0 0 40%;
  }
}

/* Large screens */
@media (min-width: 60em) {
  .cell {
    flex: 0 0 30%;
  }
}
