.container {
	padding: 10px;
	width: 22vw;
	margin: 10px;
	box-shadow: 0px 3px 20px #eee;
}

.addButton {
  border: 1px solid darkblue;
  color: white;
  background-color: darkblue;
  height: 30px;
  margin: 10px 25%;
  padding: 0 20px;
  width: 50%;
	transition: 0.3s ease-in;
}

.addButton:hover,
.addButton:focus {
	border-color: purple;
	background-color: purple;
}

.image {
  display: block;
  /*max-width:124px;*/
  /*width: auto;*/
  height: 250px;
  margin: auto;
}

.title {
  text-align: center;
  font-weight: bold;
}
