.addButton {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

.image {
  display: block;
  max-width:124px;
  max-height:200px;
  width: auto;
  height: auto;
}

.title {
  text-align: center;
  font-weight: bold;
}
