.beerItem {
	flex-grow: 1;
}

.beerRow {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-left: 50px;
	margin-right: 50px
}

.wrapper {
  /*position: relative;*/
  /*top: 100px;*/
  width: 80%;
  margin: 0 auto;
}