.title {
  color: #444;
  text-align: center;
}

.cell {
  flex: 0 0 100%;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 1.5em;
  height: 325px;
  width: 200px;
  padding: 20px;
  text-align: center;
  opacity:.8;
  color: grey;

  box-shadow: 0 4px 2px rgba(0,0,0,0.175);
}

.cell:after {
  /* todo */
 }

.cell:hover {
  opacity: 1;
  /*background: #33cccc;*/
}

/* Tablet (medium) screens */
@media (min-width: 40em) {
  .cell {
    flex: 0 0 40%;
  }
}

/* Large screens */
@media (min-width: 60em) {
  .cell {
    flex: 0 0 30%;
  }
}

.moreInfo {
  text-decoration: none;
  position: absolute;
  opacity: .9;
  color: black;
  top: 0;
  left: 0;

  padding: 10px 15px 15px 10px;
}

.info {
  /*background: rgba(51, 153, 204,.2);*/
  text-align: left;
  text-decoration: none;

}

.details {
  line-height: .2em;
  font-size: .9em;
  color: grey;
}

.details:hover {
  font-size: .9em;
  color: black;
  text-decoration: bold;
}

.cover {
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 3px;
}
