* {
	box-sizing: border-box;
}

html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, li {
	text-decoration: none;
}

.app {
  color: #444;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 100vh;
}
